.my-custom-table {
    border-radius: 10px;
    background-color: #ffffff;
}

.my-custom-table th,
.my-custom-table td {
    padding: 10px;
    font-size: 1.2rem;
    border: 1px solid #cccccc;
}

.my-custom-table th {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #9b9696;
    color: white;
}