.navbar {
    display: flex;
    flex: 6;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(170, 169, 169);
    max-height: 100px;
    border: 1px solid gray;
    border-left: none;
    padding: 0 10px;
}

.navbar-sidebar img {
    width: 40px;
    height: 40px;
}

.navbar-info img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}