.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(197, 191, 191);
    max-height: 100px;
    /* border: 1px solid gray; */
    border-left: none;
    border-radius: 10px;
    padding: 10px;

}

.navbar-sidebar img {
    width: 40px;
    height: 40px;
}

.navbar-info img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}