.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(197, 191, 191);
    max-height: 100px;
    /* border: 1px solid gray; */
    border-left: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    padding: 10px;

}

.navbar-info {
    display: flex;
    align-items: center;
}


.navbar-sidebar img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.navbar-info img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.navbar-user {
    position: relative;
}

.user-menu {
    position: absolute;
    top: 100%;
    /* Đặt menu bên dưới biểu tượng user */
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.user-menu-button {
    display: block;
    width: 100%;
    padding: 8px 12px;
    background-color: transparent;
    border: none;
    text-align: left;
    cursor: pointer;
    white-space: nowrap;
    /* Ngăn nội dung xuống dòng */
}

.user-menu-button:hover {
    background-color: #f0f0f0;
}