.admin {
    display: flex;
}

.admin-sidebar {
    flex: 1;
}

.admin-content {
    flex: 6;
    padding: 0 10px;
}

.content {
    margin: 10px 0;
    padding: 10px;
    background-color: rgb(197, 191, 191);
    border-radius: 10px;
}

@media (max-width: 1024px) {
    .admin-sidebar {
        display: none;
    }
}